<% posts.each do |post| %>
    <div class="col-4">
        <div class="property border">
            <%= link_to post_path(post) do%>
                <div class="property-thumb" >
                    <%= link_to(post_thumbnail_url(post), post_path(post))%>
                </div>

                <div class="property-summary p-3">
                    <h3 class="h5"><%= link_to post.title,  post_path(post), class:"text-dark" %></h3>
                    
                    <p class="mt-2" ><%= post.summary %></p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>



            